.DS_Store
*.fa
*.fa.amb
*.fa.ann
*.fa.bwt
*.fa.pac
*.fa.sa
*.fa.gz
*.DAC.bed
.nextflow.log*
*.gtf
*.gtf.gz
analysis_results/
.nextflow/*
analysis_results/*
analysis_results_heinkoff/*
analysis_results_heinkoff_small/*
work/*
test_sample_sheet.csv
*multiqc.random.regions.bed
/ref_files/genome/SNP*.txt
*.chrom.sizes