.DS_Store
*.fa
*.fa.fai
*.fa.amb
*.fa.ann
*.fa.bwt
*.fa.pac
*.fa.sa
*.fa.gz
*.DAC.bed
.nextflow.log*
*.gtf
*.gtf.gz
.nextflow/*
analysis_results*/*
analysis_*/*
work/*
*_sample_sheet.csv
*multiqc.random.regions.bed
/ref_files/genome/SNP*.txt
*.chrom.sizes
*folder_analysis*