// Centralized configuration for shared parameters
params {
    genome = 'hg19'
    allowedGenomes = ['hg19', 'hg38']
    
    hg19GenomeDownload  = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg19/bigZips/hg19.fa.gz'
    hg19GeneAnotationDownload = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.annotation.gtf.gz'
    hg19DACListDownload = 'https://www.encodeproject.org/files/ENCFF001TDO/@@download/ENCFF001TDO.bed.gz'
    hg19SNP ='https://raw.githubusercontent.com/prc992/SNAP/eab4a38d5ce1ddeed4a2013d46f6b6b828efab87/ref_files/SNPs/SNPs.1e5.hg19.txt'

    
    hg38GenomeDownload = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/hg38.fa.gz'
    hg38GeneAnotationDownload = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_47/gencode.v47.annotation.gtf.gz'
    hg38DACListDownload = 'https://www.encodeproject.org/files/ENCFF356LFX/@@download/ENCFF356LFX.bed.gz'
    hg38SNP ='https://raw.githubusercontent.com/prc992/SNAP/eab4a38d5ce1ddeed4a2013d46f6b6b828efab87/ref_files/SNPs/SNPs.1e5.hg38.txt'

    genomeInfoPaths = "${projectDir}/ref_files/genome/genome_paths.csv"
    states_ref = "${projectDir}/ref_files/states"
    enrichment_states_ref = "${projectDir}/ref_files/enrichment_states"
    genes_pileup_report = "${projectDir}/ref_files/pileup_report/test_housekeeping.bed"
    multiqc_config = "${projectDir}/ref_files/multiqc/multiqc_config.yml"
    multiqc_housekeeping_report = "${projectDir}/ref_files/multiqc/igv_housekeeping_genes_mqc.html"
    multiqc_frag_len_header = "${projectDir}/ref_files/multiqc/frag_len_header.txt"
    multiqc_tot_frag_peaks_header = "${projectDir}/ref_files/multiqc/frags_peaks_header.txt"
    multiqc_enrichment_header = "${projectDir}/ref_files/multiqc/enrichment_header.txt"


    pathEnrichmentScript = "${projectDir}/auxiliar_programs/enrichment.sh"
    pathRfrag_plotFragDist = "${projectDir}/auxiliar_programs/frag_plotFragDist.R"
    pathRComparison = "${projectDir}/auxiliar_programs/pileups_comparison.R"
    pathRPileups = "${projectDir}/auxiliar_programs/read_pileups.R"
    pathSNPFootprint = "${projectDir}/auxiliar_programs/SNP_Footprint_Clustering.R"
    pathReportFragHist = "${projectDir}/auxiliar_programs/report_calc_frag_hist.py"
    pathReportFragPeaks = "${projectDir}/auxiliar_programs/report_frags_and_peaks.py"
    pathReportEnrichment = "${projectDir}/auxiliar_programs/report_enrichment.py"
    pathMergeReportEnrichment = "${projectDir}/auxiliar_programs/merge_enrichment_reports.py"

    containers {
        multiqc = 'quay.io/biocontainers/multiqc:1.25.2--pyhdfd78af_0'
        wget = "quay.io/biocontainers/wget:1.21.4"
        bwa = "quay.io/biocontainers/bwa:0.7.18--he4a0461_1"
        samtools = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
        bwa_and_samtools = "quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:8110a70be2bfe7f75a2ea7f2a89cda4cc7732095-0"
        preseq = "quay.io/biocontainers/preseq:2.0.2--gsl1.16_0"
        deeptools = "mgibio/deeptools:3.5.3"
        python = "quay.io/biocontainers/mulled-v2-f42a44964bca5225c7860882e231a7b5488b5485:47ef981087c59f79fdbcab4d9d7316e9ac2e688d-0"
        bedtools = "quay.io/biocontainers/bedtools:2.30.0--hc088bd4_0"
        igv_reports = "staphb/igv-reports:1.12.0"
        bedgraphtobigwig = "quay.io/biocontainers/ucsc-bedgraphtobigwig:445--h954228d_0"
        bedgraphtobigwig_version = "445" // WARN: Version information not provided by tool on CLI. Please update version string below when bumping container versions.
        picard = "quay.io/biocontainers/picard:2.27.4--hdfd78af_0"
        fastqc = "quay.io/biocontainers/fastqc:0.11.9--0"
        ucsc_fetchchromsizes = "quay.io/biocontainers/ucsc-fetchchromsizes:377--ha8a8165_3"
        r_data_analysis = "pegi3s/r_data-analysis:4.1.1_v3"
        macs2 = "quay.io/biocontainers/macs2:2.2.7.1--py38h4a8c8d9_3"
        bcftools = "quay.io/biocontainers/bcftools:1.21--h3a4d415_1"
        snp_dendrogram = "prc992/snp_dendrogram:v1.3"
        trim_galore = "quay.io/biocontainers/trim-galore:0.6.7--hdfd78af_0"
        ubuntu = "ubuntu:noble-20231221"
        uropa = "quay.io/biocontainers/uropa:4.0.3--pyhdfd78af_0"
    }
}

// Profile-specific settings
profiles {

    singularity_lsf_high {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$PWD/Sing-Images/"
        process.executor = 'slurm'

        includeConfig 'conf/base_lsf_high.config'
    }

    eristwo_high {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$PWD/Sing-Images/"
        process.executor = 'slurm'

        includeConfig 'conf/base_eristwo_high.config'
    }

    singularity_slurm_high {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "/n/app/singularity/containers/pac936/"
        singularity_folder = "/n/app/singularity/containers/pac936/"
        process.executor = 'slurm'

        includeConfig 'conf/base_o2_high.config'
    }

    singularity_slurm_low {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "/n/app/singularity/containers/pac936/"
        singularity_folder = "/n/app/singularity/containers/pac936/"
        process.executor = 'slurm'

        includeConfig 'conf/base_o2_low.config'
    }

    local_mac {
        docker.enabled = true
        docker.runOptions = '--platform linux/amd64'

        includeConfig 'conf/base_local.config'
    }

    aws {
        docker.enabled = true
        docker.userEmulation = true
        docker.runOptions = '--platform linux/amd64'

        includeConfig 'conf/base_aws.config'

        // Override S3-specific parameters
        params {
            align_ref = 's3://dfci-cfchipseq-tower/ref_files/hg19/'
            files_ref_genome = 's3://dfci-cfchipseq-tower/ref_files/hg19/hg19*.*'
            gtf_ref = 's3://dfci-cfchipseq-tower/ref_files/hg19/gencode.v19.annotation.gtf'
            DAC_Exclusion = 's3://dfci-cfchipseq-tower/ref_files/hg19/DAC_Exclusion.bed'
        }
    }
}