/*
*/
process {

    withLabel:process_low {
        memory = '32G'
        cpus = 2
        time   = '8h'
    }

  withLabel:process_medium {
        memory = '64G'
        cpus = 4
        time   = '8h'
    }

    withLabel:process_high {
        memory = '128G'
        cpus = 12
        time   = '8h'
    }

withLabel:low_cpu_low_mem {
        memory = '1G'
        cpus = 2
        time   = '8h'
    }

withLabel:med_cpu_med_mem {
        memory = '64G'
        cpus = 4
        time   = '8h'
    }

withLabel:med_cpu_high_mem {
        memory = '128G'
        cpus = 8
        time   = '8h'
    }

withLabel:high_cpu_high_mem {
        memory = '240G'
        cpus = 16
        time   = '24h'
    }

withLabel:low_cpu_high_mem {
        memory = '240G'
        cpus = 4
        time   = '8h'
    }
}
